@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary: #5662F6;
    --secondary: #EFF2FB;
    --gray: #D2D2D2;
    --white: #FFFFFF;
    --black: #000000;
}

body {
    background-color: var(--secondary);
    font-family: 'Inter', sans-serif;
}